[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Connected Services
**/Properties/ServiceDependencies/**
**/Properties/serviceDependencies.json
**/Properties/serviceDependencies.local.json
*.user

# Files built by Visual Studio
*.obj
*.csproj.user
.vs/

*apsettings.json
*apsettings.Production.json
*apsettings.Development.json
*.log
/RentCarX/appsettings.Production.json
/RentCarX/appsettings.Development.json

.env

# SSL certificate and private key for local docker database
/db-certs/