[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Files built by Visual Studio
*.obj
*.csproj.user
.vs/

*apsettings.Production.json
*apsettings.Development.json
*.log
/RentCarX/appsettings.Production.json
/RentCarX/appsettings.Development.json
