services:
  rentcarx:
    image: rentcarx:latest 
    build:
      context: .
      dockerfile: ./RentCarX/Dockerfile
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    # dev config
      - Database__Password=${SA_PASSWORD}
      - Database__Server=sqlserver 
      - Database__DatabaseName=RentCarXDev
      - Database__Username=sa
      - Database__Port=1433
    # prod config
      - AzureSqlConnection__DataSource=${DATA_SOURCE}
      - AzureSqlConnection__UserID=${USER_ID}
      - AzureSqlConnection__Password=${PASSWORD}
      - AzureSqlConnection__InitialCatalog=${INITIAL_CATALOG}
     # feature flag management 
      - Feature__flag__payments=${FEATURE_FLAG_PAYMENTS}
      - Feature__flag__reports=${FEATURE_FLAG_REPORTS}
      - Feature__flag__ns=${FEATURE_FLAG_NS}
      - Feature__flag__smtp=${FEATURE_FLAG_SMTP}
     # Json web token
      - Jwt__key=${JWT_KEY}
      - Jwt__issuer=${JWT_ISSUER}
      - Jwt__audience=${JWT_AUDIENCE}
     # SMTP
      - Smtp__server=${SMTP_SERVER}
      - Smtp__port=${SMTP_PORT}
      - Smtp__sender__name=${SMTP_SENDER_NAME}
      - Smtp__sender__email=${SMTP_SENDER_EMAIL}
      - Smtp__usernam=${SMTP_USERNAME}
      - Smtp__pass=${SMTP_PASS}
      - Smtp__enable__ssl=${SMTP_ENABLE_SSL}
     # NS
      - Notification__conn=${NOTIFICATION_CONN}
      - Hub__name=${HUB_NAME}
    networks: 
      - rentcarx-dev
    ports: 
      - "8080:8080"
      - "8081:8081" 
    volumes:
      - ./RentCarX/appsettings.Development.json:/app/appsettings.Development.json:ro
    depends_on:
       sqlserver:
          condition: service_healthy
     
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    networks: 
      - rentcarx-dev
    ports:
      - "1433:1433"
    user: "0:0"
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: "Y"
      MSSQL_TLS_CERT: "/var/opt/mssql/certs/server.crt"
      MSSQL_TLS_KEY: "/var/opt/mssql/certs/server.key"
      MSSQL_TLS_MIN_PROTOCOL_VERSION: "1.2"
    volumes:
      - sqlserver_data:/var/opt/mssql/data
      # SSL cert + key
      - ./db-certs/server.crt:/var/opt/mssql/certs/server.crt:ro
      - ./db-certs/server.key:/var/opt/mssql/certs/server.key:ro
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -S localhost -U sa -P $${SA_PASSWORD} -Q \"SELECT 1\" > /dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

  rentcarx-hangfire:
    build:
      context:  .
      dockerfile: ./RentCarX.HangfireWorker/Dockerfile
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Database__Password=${SA_PASSWORD}
      - Database__Server=sqlserver
      - Database__DatabaseName=RentCarXDev
      - Database__Username=sa
      - Database__Port=1433
      # ---
      - AzureSqlConnection__DataSource=${DATA_SOURCE}
      - AzureSqlConnection__UserID=${USER_ID}
      - AzureSqlConnection__Password=${PASSWORD}
      - AzureSqlConnection__InitialCatalog=${INITIAL_CATALOG}
    volumes:
      - ./RentCarX/appsettings.Development.json:/app/appsettings.Development.json:ro
    depends_on:
      sqlserver:
        condition: service_healthy

  